body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #170a3d;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul:hover {
  background-color: #3e31d2;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 50px 20px;
  text-align: center;
}

#about {
  background-color: #7394ed;
}

#projects {
  background-color: #3a0fa0;
}

#contact {
  background-color: #7394ed;
}

.project {
  margin: 20px 0;
}

footer {
  background-color: #170a3d;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
}
